/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Abel', sans-serif;*/
@media (max-width: 991px) {
    .hide-brand-name {
        display: none;
    }
}

body {
    background-color: #f0f0f0;
    margin: 0;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    padding-left: 25px;
}

#brand-name {
    font-family: 'Abel', sans-serif;
    padding-left: 20px;
}

.nav-link {
    font-family: 'Abel', sans-serif;
    padding: 0;
}

.container-fluid {
    background-color: #f0f0f0;
    padding: 0;
}

.company-job {
    font-family: 'Anton', sans-serif;
    margin-top: 50px;
}

.company-location {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    margin-top: 40px;
}

.circles {
    margin-top: 100px;
}

.red-circle {
    height:160px;
    width: 160px;
    margin: 0;
    border: solid 13px #fff;
    border-radius: 50%;
    background-color: #e6563b;
    font-family: 'Anton', sans-serif;

}

.yellow-circle {
    height:160px;
    width: 160px;
    margin: 0;
    border: solid 13px #fff;
    border-radius: 50%;
    background-color: #eb9d3a;
    font-family: 'Anton', sans-serif;

}

.green-circle {
    height:160px;
    width: 160px;
    margin: 0;
    border: solid 13px #fff;
    border-radius: 50%;
    background-color: #7cb06c;
    font-family: 'Anton', sans-serif;

}

.blue-circle {
    height:160px;
    width: 160px;
    margin: 0;
    border: solid 13px #fff;
    border-radius: 50%;
    background-color: #00aba9;
    font-family: 'Anton', sans-serif;
}

#selected-work {
    margin-top: 100px;
    font-family: 'Abel', sans-serif;
}

.selected-work-images {
    border: 15px solid #e6e6e6;
    width: 100%;
    padding: 0;
}

.selected-work-images>p {
    font-family: 'Abel', sans-serif;
}

.small-red-circle {
    height:20px;
    width: 20px;
    margin: 0;
    background-color: #e6563b;
    font-family: 'Anton', sans-serif;

}

.small-yellow-circle {
    height:20px;
    width: 20px;
    margin: 0;
    background-color: #eb9d3a;
    font-family: 'Anton', sans-serif;

}

.small-green-circle {
    height:20px;
    width: 20px;
    margin: 0;
    background-color: #7cb06c;
    font-family: 'Anton', sans-serif;

}

.small-blue-circle {
    height:20px;
    width: 20px;
    margin: 0;
    background-color: #00aba9;
    font-family: 'Anton', sans-serif;
}

.small-circles{
    clear: left; !important;
}